


@font-face {
  font-family: bebasneuelight;
   src: url("./assets/fonts/bebasneuelight.ttf");
 }

 body {
  font-family: bebasneuelight, monospace;
  }

  * {
    box-sizing: border-box;
    }

  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  body,
  ul,
  a,
  h1,
  h2,
  p {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;

  }

  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }

  .container {
    max-width: 780px;
    padding: 0 20px;
    margin: 0 auto;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  html {
    scroll-behavior: smooth;
  }

  .nav-link {
    padding: 0 20px;
    line-height: 50px;
    color: rgb(121, 165, 121);
  }

  .main {
    position: relative;
    margin-top: 20px;
  }

  .main__container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .main-title {
    margin-bottom: 20px;
  }

  .my-photo {
    margin-right: 15px;
    width: 300px;
    height: 300px;
  }

  .main__con {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .about__content {
    margin-bottom: 20px;
  }

  .nav-link:hover {
    color: rgb(102, 141, 102);
  }

  h2 {
    font-size: 20px;
  }

  h1 {
    font-size: 30px;
  }

.container-info {
  display: flex;
  flex-wrap: wrap;
  top: 50%;
  position: relative;
}

.data {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.data__row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.data__column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.english-content {
  max-width: 150px;
}

.section-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}


.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-rs {
  width: 100px;
  height: 50px;
}
